.row
  .col-xs-12.text-center
    h2 Edit Player
.row
  .col-xs-12.text-right
    button.new-player__save.glyphicon.glyphicon-floppy-save
    button.new-player__cancel.glyphicon.glyphicon-remove
.row
  .col-xs-12
    .row
      .col-xs-3
        span.character__name='Character:'
        span.character__name--edit
          input.input__character(value='{{character}}')
          i.glyphicon.glyphicon-check
      .col-xs-3
        span.player__name='Player:'
        span.player__name--edit
          input.input__player(value='{{name}}')
          i.glyphicon.glyphicon-check
      .col-xs-2
        span.player__stat(stat="ac")='AC:'
        span.player__stat--edit
          input.input__stat(stat="ac", type="number", value='{{ac}}')
      .col-xs-2
        span.player__stat(stat="hp")='HP:'
        span.player__stat--edit
          input.input__stat(stat="hp", type="number", value='{{hp}}')
      .col-xs-2
        span.player__stat(stat="speed")='Speed:'
        span.player__stat--edit
          input.input__stat(stat="speed", value='{{speed}}')
