.col-md-5.col-sm-12
  span.sidebar__name='{{monster}}'
.col-md-4.col-sm-9
  span.sidebar__stat='AC:'
  span.sidebar__stat--value='{{ac}}'
  span.sidebar__stat='HP:'
  span.sidebar__stat--value='{{hp}}'
.col-xs-3
  i.glyphicon.glyphicon-pencil(data-toggle="tooltip", title="Edit")
  i.glyphicon.glyphicon-remove(data-toggle="tooltip",title="Remove")
  i.glyphicon.glyphicon-chevron-right(data-toggle="tooltip", title="Add")
