.col-md-5
  span.sidebar__name='{{monster}}'
.col-md-4
  span.sidebar__stat='AC:'
  span.sidebar__stat--value='{{ac}}'
  span.sidebar__stat='HP:'
  span.sidebar__stat--value='{{hp}}'
.col-md-3
  i.glyphicon.glyphicon-remove
  i.glyphicon.glyphicon-chevron-right

