.col-md-7
  .row
    span.sidebar__name='{{character}}'
  .row
    span.sidebar__stat='AC:'
    span.sidebar__stat--value='{{ac}}'
    span.sidebar__stat='HP:'
    span.sidebar__stat--value='{{hp}}'
.col-md-5
  i.glyphicon.glyphicon-remove
  i.glyphicon.glyphicon-chevron-right
