.col-xs-5
  span.sidebar__name='{{character}}'
.col-xs-4
  span.sidebar__stat='AC:'
  span.sidebar__stat--value='{{ac}}'
  span.sidebar__stat='HP:'
  span.sidebar__stat--value='{{hp}}'
.col-xs-3
  i.glyphicon.glyphicon-remove(data-toggle="tooltip", title="remove")
  i.glyphicon.glyphicon-chevron-right(data-toggle="tooltip", title="add")
