.col-md-3
  img.player__thumb(src="{{thumb}}")
.col-md-8
    .row
        h2.player__name--locked='{{character}}'
        h3.player__name--locked='({{name}})'
    .row
        .col-md-4
            span.player__stat--locked(stat="initiative")='Initiative:'
            span.player__stat--value--locked='{{initiative}}'
        .col-md-4
            span.player__stat--locked(stat="damage")='Damage Taken:'
            span.player__stat--value--locked='{{damage}}'
.col-md-1
    .row
        button.glyphicon.glyphicon-user.player__control(alt="Take Control")
