.col-md-3
  .player__thumb
    img(src="{{thumb}}")
.col-md-8
  .row
    h2.character__name='{{character}}'
    span.character__name--edit
      input.input__character
      i.glyphicon.glyphicon-check
    h3.player__name='({{name}})'
    span.player__name--edit
      input.input__player
      i.glyphicon.glyphicon-check
  .row
    .col-md-4
      span.player__stat.lead(stat="ac")='AC:'
      span.player__stat--value.lead='{{ac}}'
      span.player__stat--edit
        input.input__stat(type="number")
        i.glyphicon.glyphicon-check
    .col-md-4
      span.player__stat.lead(stat="hp")='HP:'
      span.player__stat--value.lead='{{hp}}'
      span.player__stat--edit
        input.input__stat(type="number")
        i.glyphicon.glyphicon-check
    .col-md-4
      span.player__stat--locked.lead(stat="speed")='Speed:'
      span.player__stat--value--locked.lead='{{speed}}'
      span.player__stat--edit
        input.input__stat(type="number")
        i.glyphicon.glyphicon-check
  .row
    .col-md-4
      span.player__stat(stat="initiative")='Initiative:'
      span.player__stat--value='{{initiative}}'
      span.player__stat--edit
        input.input__stat(type="number")
        i.glyphicon.glyphicon-check
    .col-md-4
      span.player__stat--locked(stat="damage")='Damage Taken:'
      span.player__stat--value--locked='{{damage}}'
    .col-md-4
      span.player__stat--locked(stat="health")='Current Health:'
      span.player__stat--value--locked='{{health}}'
.col-md-1
  .row
    button.glyphicon.glyphicon-fire.player__hit(alt="Hit Me!")
    span.player__hit--edit
      input.input__hit(type="number", value="0")
      i.glyphicon.glyphicon-check
  .row
    button.glyphicon.glyphicon-heart.player__heal(alt="Heal Me!")
    span.player__heal--edit
      input.input__heal(type="number", value="0")
      i.glyphicon.glyphicon-check
  .row
    button.glyphicon.glyphicon-remove.player__delete(alt="Delete Me!")
