.col-xs-5
  span.sidebar__name='{{character}}'
.col-xs-4
  span.sidebar__stat='AC:'
  span.sidebar__stat--value='{{ac}}'
  span.sidebar__stat='HP:'
  span.sidebar__stat--value='{{hp}}'
.col-xs-3
  i.player-sidebar__edit.glyphicon.glyphicon-pencil(data-toggle="tooltip", title="Edit")
  i.player-sidebar__remove.glyphicon.glyphicon-remove(data-toggle="tooltip", title="remove")
  i.player-sidebar__add.glyphicon.glyphicon-chevron-right(data-toggle="tooltip", title="add")
